---
title: James Brandreth
---

<html>
<head>
    <title>James Brandreth</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='James Brandreth is a research software engineer at UCL'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        machine learning,
        deep learning,
        computer science,
        natural language processing,
        health records,
    '>
    <meta name='author' content='James Brandreth'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='landing' class='wrap'>
        <h1>James Brandreth</h1>
        <div>
            <p>I’m a research software engineer with an interest in machine learning, particularly NLP.</p>
            <p>I currently work at UCL’s Institute of Health Informatics working on natural language processing techniques and software for use with electronic health records.</p>
            <ul id="links">
                <li>
                    <a href="https://github.com/jamesbrandreth">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com/jamesbrandreth">Twitter</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
