---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-3">
    <img src="{{ site.github.url }}/assets/img/prof_pic.jpg" alt="Home" width="100%" class="img" style="border-radius: 5px">
    <div class="row">
      <div class="col mt-3 text-start">
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}" class="gap-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-md-9">
    {{ content }}
  </div>
  </div>

{% include publications.html %}
<!--
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
-->
